// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;

$color-main-primary: #ef533f;
$color-main-secondary: #3b92ff;
$color-main-secondary-darker: #2f3293;
$color-main-grey: #f7f8f9;
$color-main-dark-grey: #3d3935;

$color-services-casko: #594ece;
$color-services-auto: #f3bb10;
$color-services-tourism: #ff8609;
$color-services-medicine: #16ccba;
$color-services-property: #93d625;
$color-services-samsung: #3e5afa;
$color-services-hc: #e38896;
$color-services-insurance: #239fff;
$color-services-gadget: #187686;

// Specific
// =============================================================================
// Link
$link-color: #1a0dab;
$link-focus-color: #1a0dab;
$link-hover-color: darken(#1a0dab, 10%);
// Selection
$selection-text-color: $color-main-grey;
$selection-background-color: $color-main-primary;
