.c-tabs {
  position: relative;
  width: 100%;
}

.c-tabs__header {
  position: relative;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

$tabs-underline-height: 5px;
$tabs-switcher-pb: 26px;

.c-tabs__item {
  position: relative;
  max-height: 100%;

  &:not(:first-child) {
    margin-left: rem(60px);
  }
}

.c-tabs__button {
  display: inline-block;
  font-family: $font-stolzl-medium;
  font-size: rem(14px);
  line-height: 1.7;
  white-space: nowrap;
  padding-bottom: rem($tabs-underline-height + $tabs-switcher-pb);
  color: $color-main-dark-grey;
  text-transform: uppercase;

  &[aria-selected='true'],
  &:hover {
    border-bottom: 5px solid $color-main-primary;
  }

  &:focus {
    outline: auto;
  }
}

.c-tabs__inner {
  padding-top: rem(40px);
}
