.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: rem(650px);
  overflow: hidden;
  background: $color-main-dark-grey url('/images/aside_bg.svg') left bottom
    no-repeat;
  padding: rem(170px) rem(50px) rem(50px);
  color: $white;
  z-index: 1;
}

.aside .aside__title {
  margin-bottom: rem(68px);
  color: $color-main-primary;
}

.aside--home .aside__title {
  margin-bottom: rem(52px);
  max-width: rem(305px);
  color: $white;
}

.aside--home .aside__description {
  max-width: rem(395px);
}
