.c-aside-home {
  position: relative;
  color: inherit;
}

.c-aside-home .c-aside-home__title {
  margin-bottom: rem(52px);
  max-width: rem(305px);
}

.c-aside-home__description {
  max-width: rem(395px);
}
