.aside-nav {
  position: relative;
  overflow-y: auto;
}

.aside-nav__list {
  position: relative;
  max-width: rem(408px);
}

.aside-nav__item {
  position: relative;
  width: 100%;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: rem(20px);
  }

  @include u-hocus {
    &,
    &.-active {
      .aside-nav__link {
        padding-left: rem(30px);
      }

      .aside-nav__arrow {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
      }
    }
  }
}

.aside-nav .aside-nav__link {
  display: inline-block;
  color: $white;
  margin: 0;
  transform: translateX(0px);
  transition: transform $speed $easing;
}

.aside-nav__arrow {
  position: absolute;
  display: inline-block;
  top: rem(6px);
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-#{rem(30px)});
  transition: transform $speed $easing, opacity $speed * 1.2 $easing;
}
