.content {
  position: relative;
  padding-top: rem(190px);
  padding-bottom: rem(745px);
}

.content__section {
  margin-bottom: rem(160px);
}

.content h2 {
  margin-bottom: rem(40px);
}

.content h3 {
  margin-bottom: rem(20px);
}

.content__section > *,
.nested-content > .nested-content__body > *,
.content__section > div:not([class]) > * {
  margin-bottom: rem(20px);
}

.content ul:not([class]) {
  padding-left: 1rem;
}

.content ul:not([class]) li > * {
  display: inline-block;
}

.content picture {
  max-width: 100%;
}

.content ul:not([class]) li::before {
  content: '\2022';
  color: $color-main-primary;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.nested-content {
  margin-top: rem(80px);
}

.content .c-button {
  margin-top: rem(43px);
}
