.c-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: rem($unit);
  padding-right: rem($unit * 2);
  z-index: 2;

  @media (max-width: $to-large) {
    justify-content: center;
    padding-left: rem(35px);
    padding-right: rem(35px);
    z-index: 100;
  }
}
