.home-nav {
  position: relative;
  padding-top: rem(100px);
  height: 100vh;
}

.home-nav__wrapper {
  position: relative;
  background-color: $color-main-grey;
  padding-top: rem(90px);
  padding-bottom: rem(150px);
  min-height: 100%;
}

.home-nav__title {
  margin-bottom: rem(48px);
}

.home-nav__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(30px);
  row-gap: rem(30px);
  height: 100%;
}

.home-nav__item {
  position: relative;
  background-color: $white;
  padding: rem(40px) rem(90px) rem(40px) rem(40px);
  height: rem(300px);

  &:focus {
    cursor: pointer;
    box-shadow: 0 0 0.5rem rgba($color-main-dark-grey, 0.1);
  }
}

.home-nav__link {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(50px);
  height: rem(50px);
  border: 2px solid $color-main-grey-light;
  border-radius: 50%;
  bottom: rem(30px);
  right: rem(30px);

  @include u-hocus {
    outline: 0;

    .home-nav__link-arrow {
      opacity: 1;
    }
  }
}

.home-nav__item-title {
  line-height: 0.833333333;
  margin-bottom: rem(30px);
}

.home-nav__item-description {
  opacity: 0.6;
  display: inline-block;
  width: 100%;
  max-height: calc(100% - #{rem(120px)});
  overflow-y: auto;
}

.home-nav__link-arrow {
  opacity: 0.5;
  margin-right: -2px;
  transition: opacity $speed $easing;
}
