.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.main-menu__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(350px), 1fr));
  padding: max(21.923vh, #{rem($unit * 2)}) max(11.041vh, #{rem($unit)})
    max(10vh, #{rem($unit)}) max(16.927vw, #{rem($unit)});
  row-gap: rem(97px);
  column-gap: rem(80px);
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: $white;
}

.main-menu__page-list {
  position: relative;
}

.main-menu__page-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-menu__page-link {
  display: inline-block;
  overflow: hidden;
  height: 60px;
  margin-bottom: rem(38px);
}

.main-menu__page-link,
.main-menu__block-link {
  display: inline-block;
  width: 100%;
  color: $color-main-dark-grey;
  transition: color $speed $easing;
}

.main-menu__page-link:hover,
.main-menu__block-link:hover {
  color: $color-main-primary;
}

.main-menu__block-list {
  position: relative;
}

.main-menu__block-item {
  margin-bottom: rem(20px);
}
